* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Times New Roman", Times, serif;
    background-color: #0d1117;
  }
  body {
    overflow: scroll;
    background-color: #ffffff;
    font-weight: 500;
  }
  
  footer {
    position: fixed;
    text-align: center;
    bottom:0%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1.5rem;
  }
  
  footer p {
    color: rgb(250, 248, 248);
  }
  h1{
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  }
  .img{
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  img {
    max-width: 100%;
    height: auto;
  }

input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}
